//Fonts family

$Montserrat: 'Montserrat', sans-serif;

$Raleway: 'Raleway', sans-serif;

@mixin font-size($size-value){
	font-size:$size-value * 1px;
	font-size:($size-value/10) * 1rem;
}

h1, h2, h3, h4, h5, h6{
	font-family:$Montserrat;
}

p, li{
	font-family:$Raleway;
}

//font size

body{
	font-size:62.5%;
}

h1{
	@include font-size(70);
	color:white;
}

h2{
	@include font-size(24);
}

h3{
	@include font-size(22);
}

h4{
	@include font-size(18);
}

h5{
	@include font-size(14);
}

p, li, h6{
	@include font-size(10);
}

//links

a {
	color:black;
	text-decoration: none;
	transition:all 0.5s ease;
	&:hover {
		color:black;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}