$h-black:rgb(51,51,51);
$dark-h-black:rgb(32, 32, 32);

$p-grey:rgb(102, 102, 102);
$light-p-grey:rgb(187, 187, 187);

$bg-grey: rgb(229, 229, 229);

$foot-black:rgb(29, 29, 29);
$foot-grey:rgb(204, 204, 204);

$button-black:rgb(34, 34, 34);

$red:rgb(255, 38, 28);
$red-t:rgba(255, 38, 28, 0.8);